body{
	margin:0;
	padding: 0;
}
.navbar-default{
	background: transparent;
	border:none;
}
section img{
	width: 137px;
}
header{
	background-image: url(../img/bg-header.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar-default .container .list-menu .collapse .nav>li>a{
  color:white;
}
header img{
    padding-top: 268px;
    width: 319px;
}
.border{
	border-radius: 100%;
    border: 3px solid white;
    height: 67px;
    width: 67px;
    text-align: center;
    position: absolute;
    top: 89%;
    left: 48%;
}
#adown{
    color: white;
    font-size: 41px;
    padding: 10px 0;
}
.titulo-gris{
    font-weight: 900;
    font-size: 58px;
    padding-top: 70px;
}
.linea{
    border-top-style: double;
    border-width: 4px;
    border-color: #CDBE58;
    width: 213px;
    position: relative;
    left: 462px;
}
.icono{
    position: relative;
    right: 55px;
    top: 45px;
}
.cake{
	background-image: url(../img/bg-quote.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
#plato{
	color:white;
}
.truly{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
    padding-top: 272px;
}
.btn-default:hover {
    color: #333;
    background-color: transparent;
    border-color: #adadad;
}
.btn-meet{
    background: transparent;
    border-radius: 0px;
    padding-top: 6px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 12px;
    font-size: 17px;
    width: 227px;
}